// #match-history-container {
//   background-color: #1F1F1F;
// }
#matchComponent {
  background-color: rgba(0,0,0,.2);
  color: #777;
  height: 305px;
  overflow-y: scroll;
}

.table-responsive {
  color: #777;
  width: 100%;
}

h2 {
  text-align: center;
}

td {
  text-align: center;
}

th {
  text-align: center;
}
