// #match-history-container {
//   background-color: #1F1F1F;
// }

#matchComponent {
  background-color: pink;
  height: 305px;
  overflow-y: scroll;
}

.container-fluid-matchhistory {
  background-color: blue;
}

h2 {
  text-align: center;
}
