// #match-history-container {
//   background-color: #1F1F1F;
// }

#matchComponent {
  background-color: #131414;
  color: #777;
  height: 305px;
  overflow-y: scroll;
}
.table-responsive {
  color: #777;
}
.container-fluid-matchhistory {
  background-color: blue;
}
h2 {
  text-align: center;
}
