.join {
  margin-top: 10px;
}

#gameInvite {
  text-align: center;
}

.btn.btn-primary.btn-join {
  margin-top: 10px;
}

.form-control {
  text-align: center;
}

.input-group {
  text-align: center;
}
