.bugForm {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 4px;
  padding: 6px 12px;
  border: 0;
  height: 34px;
}

#bugDescription {
  height: 200px;
  width: 350px;
  text-align: left;
  overflow: hidden;
}

#bugSubmit {
  background-color: dimgray;
  border-color: transparent;
  margin: 0 auto;
  margin-top: 20px;
}

h3 {
  color: #777;
}
