.bugForm {
  display: block;
  text-align: center;
  margin: 10px 0 0 25px;
}

#bugDescription {
  height: 200px;
  width: 350px;
}


#bugSubmit {
  background-color: dimgray;
  border-color: transparent;
  float: left;
  margin: 10px 0 0 25px;
}

