.bugForm {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

#bugDescription {
  height: 200px;
  width: 350px;
  text-align: left;
  overflow: hidden;
}

#bugSubmit {
  background-color: dimgray;
  border-color: transparent;
  margin: 0 auto;
  margin-top: 20px;
}

h3 {
  color: white;
}
