.row.row-code-battle {
  height: 100%;
  min-height: 250px;
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dedede;
  text-align: center;
  div {
    color: black;
    p {
      color: black;
      word-wrap: break-word;
      font-size: 18px;
    }
  }
}

.row.row-code-battle2 {
  height: 100%;
  min-height: 250px;
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d1d1d1;
  text-align: center;
  div {
    color: black;
    p {
      color: black;
      word-wrap: break-word;
      font-size: 18px;
    }
  }
}

img-fluid {
  height: 120px;
  width: auto;
}
