#codeeditor {
  width: 700px;
  padding: 0px;
}
.row-fluid-clock{
  background-color: gray;
}
.container-fluid-battlepage {
  background-color: green;

}

.row-fluid-battlepage {
  background-color: blue;
}

