// #codeeditor {
//   width: 700px;
//   padding: 0px;
// }

#codeeditor {
  height: 100%;
}

.problemsText {
  font-size: 20px;
  margin-bottom: 10px;
}

#problemsContainer {
  height: 100%;
  width: 100%;
  padding-left: 15px;
}

// .row-fluid-battlepage {
//   background-color: blue;
// }

.container {
  margin-left: 30px;
  margin-right: 30px;
}
