// #codeeditor {
//   width: 700px;
//   padding: 0px;
// }

#codeeditor {
  height: 100%;
}

.problemsText {
  font-size: 20px;
  margin-bottom: 10px;
}

#problemsContainer {
  height: 100%;
}

// .row-fluid-battlepage {
//   background-color: blue;
// }

