.route--active {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.route:active {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.navbar.navbar-default{
  max-width: 100%;
  background-color: #303133;
  margin-bottom: 0px;
  border-color: #303133;
}


.navbar a {
  color: #777;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #777;
  }
}

.navbar-default .navbar-nav>li>a:hover {
    color: #999;
}

.AccountDropdown {
  padding-top: 10px;
}
