#gameFinished {
  background-color: rgba(0,0,0,.2);
  h1 {
    margin-top: 10px;
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #simpsons {
    margin-bottom: 1em;
    .img-responsive {
      width: 100%;
      margin: 0 auto;
      padding: 0 auto;
    }
  }
}

#gameCompletePage {
  padding-top: 5px;
  // height: 100%;
  // max-height: 100vh;
}

#userAnswers {
  background-color: rgba(0,0,0,.2);
  color: white;
  padding-right: 0px;
  padding-left: 0px;
  word-wrap: break-word;
  font-size: 16px;
  max-height: 350px;
  overflow-y: scroll;
  border-radius: 10px 10px 10px 0px;
  #answersheader {
    margin-bottom: 5px;
    background-color: #191919;
  }
}

#headRow {
  height: 100%;
  width: 100%;
}
.heady {
  width: 740px;
  height: 130px;
  margin: 20px auto 10px auto;
  background: #777;
  // background: linear gradient(red, blue)!important;
  border-radius: 50px 50px 10px 10px;
  box-shadow: 5px 8px 8px black;
  line-height: 130px;
  .simpsons {
    width: 150px;
    height: 100px;
    border-radius: 40px 30px 0px 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
  }
  .memo {
    font-size: 40px;
    float: right;
    font-family: 'Caveat Brush', cursive;
    margin-right: 10%;
  }
}

.boxy {
  margin: 20px auto;
  padding: 20px;
  width: 714px;
  height: 416px;
  background: #777;
  border-radius: 10px 10px 10px 50px;
  box-shadow: 5px 8px 8px black;
  #myanswer {
    background-color: rgba(0,0,0,.2);
    color: black;
    padding-right: 0px;
    padding-left: 0px;
    word-wrap: break-word;
    font-size: 12px;
    max-height: 350px;
    overflow-y: scroll;
    border-radius: 10px 10px 0px 10px;
    #answersheader {
      margin-bottom: 5px;
      font-size: 14px;
      color: white;
      background-color: #191919;
    }
  }
  #userAnswers {
    background-color: rgba(0,0,0,.2);
    color: black;
    padding-right: 0px;
    padding-left: 0px;
    word-wrap: break-word;
    font-size: 12px;
    max-height: 350px;
    overflow-y: scroll;
    border-radius: 10px 10px 10px 0px;
    #answersheader {
      margin-bottom: 5px;
      color: white;
      font-size: 14px;
      background-color: #191919;
    }
  }
}
