.container-fluid-problem{
  background-color: rgba(0,0,0,0.2);
  color: #777;
  height: 100%;
  min-height: 500px;
  padding-bottom: 15px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

p {
  text-align: left;
  color: #777;
}

#problems {
  background-color: transparent;
  color: #777;
}

.row-fluid {
  background-color: #151512;
  height: 100%;
  min-height: 500px;
  padding-left: 10px;
  padding-right: 10px;
}
