#loginSubmit {
  background-color: dimgray;
  border-color: transparent;
  margin-right: 5px;
}

#username {
  height: 33px;
  margin-right: 5px;
}

#password {
  height: 33px;
  margin-right: 5px;
}
